.nexus-cont {
    height: auto;
    width: 92vw;
    padding: 15vh 2vw;
    color: white;
}

.nexus-title {
    color: #ffffff;
    font-size: 4vw;
    font-weight: 300;
}

.nexus-description {
    color: #a1a1a1;
    font-size: 1.2vw;
}

.nexus-reg-link {
    font-size: 0.9vw;
    margin-bottom: 5vh;
}

.event-cont {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.event-day-date {
    font-size: 1.5vw;
}

.event-day {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
}



.event-post {
    width: 27%;
}

.event-name {
    font-size: 1vw;
    margin-bottom: 0.1vh;
}



.event-time {

}

.event-desc {
    color: #a1a1a1;
}