.registration-form-cont {
    color: white;
    background-color: black;
    padding-top: 15vh;
    margin-bottom: 700px;
    margin-left: 2vw;
    height: 100vh;
}

.registration-form-heading {
    color: #ffffff;
    font-size: 4vw;
    font-weight: 300;
    padding-bottom: 4vh;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 5vh;
}

.name-label {
}

.email-label {

}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 30%;
    padding: 10px;
    margin: 0.4vh 0;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #191919;
    font-size: 0.8vw;
    color: #ffffff;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus {
    border-color: #af4c4c;
    outline: none;
}

input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled {
    background-color: #e0e0e0;
    color: #888;
}

.register-button {
    background-color: #191919; /* Green background */
    color: white;              /* White text */
    margin: 4vh 0;
    width: 10%;
    padding: 12px 20px;        /* Padding for size */
    font-size: 1vw;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    border: solid #ffffff 1px;
    border-radius: 5px;        /* Rounded corners */

    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

.register-button:hover {
    background-color: #ffffff;
    color: #191919 !important;
}

.register-button:active {
    transform: scale(0.98);
}


select[name="competition"] {
    width: 30%;
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0.4vh 0;
    background-color: #191919;
    font-size: 0.8vw;
    color: #ffffff;
    appearance: none;
    transition: border-color 0.3s ease;
}

select[name="competition"]:hover {
    border-color: #af4c4c;
}

select[name="competition"]:focus {
    outline: none;
    border-color: #af4c4c;
}

@media screen and (max-width: 992px) {
    .registration-form-cont {
        color: white;
        background-color: black;
        padding: 15vh 2vh 8vh 2vh;
        margin-left: 2vw;
    }

    .registration-form-heading {
        color: #ffffff;
        font-size: 4vh;
        padding-bottom: 1vh;
        font-weight: 300;
    }

    .registration-form {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        margin-bottom: 5vh;
    }

    .name-label {
    }

    .email-label {

    }

    input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
        width: 85%;
        padding: 10px;
        margin: 0.4vh 0;
        border: 2px solid #ccc;
        border-radius: 3px;
        background-color: #191919;
        font-size: 1.4vh;
    }

    .register-button {
        margin: 4vh 0;
        width: 30%;
        padding: 0.8vh 0.1vw;
        font-size: 1.4vh;
    }


    .register-button:active {
        transform: scale(0.8);
    }


    select[name="competition"] {
        width: 85%;
        padding: 12px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        margin: 0.4vh 0;
        background-color: #191919;
        font-size: 1.4vh;
        color: #ffffff;
        appearance: none;
        transition: border-color 0.3s ease;
    }

}

