.nexus-cont {
    height: auto;
    width: 92vw;
    padding: 15vh 2vw 1vh 2vw;
    color: white;
}

.nexus-bg-cont {
    background: url("/src/assets/images/18.jpg") no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
    filter: brightness(23%);
    z-index: -10;
}

.nexus-title {
    color: #ffffff;
    margin-top: 12vh;
    font-size: 20vw;
    font-weight: 300;
    font-family: "GALSB", system-ui;
}

.nexus-description {
    width: 70%;
    color: #a1a1a1;
    font-size: 1.4vw;
}

.nexus-reg-link {
    font-size: 0.9vw;
    margin-bottom: 5vh;
    margin-top: 1vh;
}

.winners-announcement-div {
    margin-bottom: 15vh;
}

.winners-note {
    font-size: 2vw;

}

.event-cont {
    display: flex;
    flex-direction: column;
}

.event-heading {
    margin: 2vh 0 3vh 0;
    font-size: 3vw;
}

.event-day-date {
    font-size: 1.5vw;
    margin: 0 0 2vh 0;
}

.event-day {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
}



.event-post {
    width: 27%;
}

.event-name {
    font-size: 1.1vw;
    margin-bottom: 0.1vh;
}



.event-time {
    font-size: 0.9vw;
}

.event-venue {
    font-size: 0.9vw;
}

.event-desc {
    color: #a1a1a1;
    font-size: 1.1vw;
    margin: 1vh 0 6vh 0;
}

@media screen and (max-width: 992px) {
    .nexus-cont {
        height: auto;
        width: 100vw;
        padding: 10vh 5vw;
        color: white;
    }

    .nexus-title {
        color: #ffffff;
        margin-top: 7vh;
        font-size: 20vw;
        font-weight: 300;
        font-family: "GALSB", system-ui;
    }

    .nexus-description {
        width: 100%;
        color: #a1a1a1;
        font-size: 3vw;
    }

    .nexus-reg-link {
        font-size: 5vw;
        margin-top: 58vh;
        margin-bottom: 5vh;
    }


    .winners-announcement-div {
        margin-bottom: 10vh;
    }

    .winners-note {
        font-size: 4vw;

    }

    .event-cont {
        display: flex;
        flex-direction: column;
    }


    .event-heading {
        font-size: 10vw;
    }


    .event-day-date {
        margin: 0 0 2vh 0;
        font-size: 6vw;
    }

    .event-day {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
    }




    .event-post {
        width: 100%;
    }

    .event-name {
        font-size: 5vw;
        margin-bottom: 0.1vh;
    }



    .event-time {
        font-size: 3.5vw;
    }

    .event-venue {
        font-size: 3.5vw;
    }


    .event-desc {
        color: #a1a1a1;
        font-size: 3vw;
    }

}



