.vertical-marquee-container {
    background-color: #ffffff;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    right: 0;
    width: 8vw;
    height: 100vh
}

.vertical-marquee {
    align-items: start;
    color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 29vh;
}

.vertical-marquee span {
    font-size: 4.8vw;
    font-weight: 500;
    line-height: 1.3;
    transform: rotate(0deg) translateY(-1500vh);
    writing-mode: vertical-rl;
}

.vertical-marquee .vertical-marquee-text {
    font-weight: 300;
}


@media screen and (max-width: 992px) {
    .vertical-marquee-container {
        display: none;
    }
}

